

@import "font-awesome";
.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  background-color: #0fb3e6;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
  
}


address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

.navbar-dark {
  background-color: #181bf8 ;
}

.body {
  min-height: 500px;
}
.btn-social-icon{
 height: 40px;width: 40px;
}
.btn-google{
  background-color: red;
}
.btn-facebook{
background-color: royalblue;
}
.btn-linkedin{
background-color: rgb(15, 110, 148);
}
.btn-twitter{
background-color: rgb(167, 189, 207);
}
.fa-google-plus , .fa-facebook, .fa-linkedin ,.fa-twitter ,.fa-youtube {
  color: white;
}


.fa-envelope-o{
  color: black;
}
